<div class="container-wide">
  <h1 style="text-align: center;">Nueva cotización</h1>

  <%= form_with(model: @quote, 
                url: quotes_path, 
                method: :post, 
                local: true, 
                data: { 
                  turbo_frame: '_top'
                }) do |form| %>
    
    <div data-controller="quotes">
      
      <%# Hidden fields %>
      <div>
        <%= hidden_field_tag 'config_margin_width', @configuration_margin_width %> 
        <%= hidden_field_tag 'config_margin_length', @configuration_margin_length %> 
      </div>

      <%# Error handling %>
      <% if @quote.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
          <ul>
            <% @quote.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <hr style="border: 1px solid black;">
      <br>
    
      <%# Datos de Proyecto %>      
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <%= form.label :projects_name, "Nombre del proyecto:", class: "font-weight-bold" %>
            <%= form.text_field :projects_name, class: "form-control", value: "Nombre del proyecto" %>
          </div>

          <div class="form-group">
            <%= form.label :product_name, "Nombre del producto:", class: "font-weight-bold" %>
            <%= form.text_field :product_name, class: "form-control", value: "Nombre del producto" %>
          </div>

          <div class="form-group">
            <%= form.label :customer_name, "Cliente:", class: "font-weight-bold" %>
            <%= form.text_field :customer_name, class: "form-control", value: "Gabriel Gonzalez" %>
          </div>

          <%= form.label :customer_organization, "Organización:", class: "font-weight-bold" %>
            <div class="input-group">
              <%= form.text_field :customer_organization, 
                  class: "form-control flex-grow-1", 
                  value: "" %>
            <div class="input-group-append">
              <button type="button" 
                  class="btn btn-green" 
                  data-action="click->quotes#searchCustomer">
                Buscar en Pipedrive
              </button>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :customer_email, "Correo del cliente:", class: "font-weight-bold" %>
            <%= form.email_field :customer_email, class: "form-control" %> 
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <%= form.label :product_quantity, "Cantidad de piezas:", class: "font-weight-bold" %>
            <%= form.number_field :product_quantity, 
                             class: "form-control text-right", 
                             value: 2000,
                             min: 1,
                             required: true,
                             id: "quote_product_quantity",
                             data: { quotes_target: "quantity" } %>
          </div>
          <div class="form-group">
            <%= form.label :product_width, "Ancho del producto:", class: "font-weight-bold" %>
            <%= form.number_field :product_width, 
                             class: "form-control text-right", 
                             value: 34,
                             min: 1,
                             required: true,
                             id: "quote_product_width",
                             data: { quotes_target: "width" } %>
          </div>
          <div class="form-group">
            <%= form.label :product_length, "Largo del producto:", class: "font-weight-bold" %>
            <%= form.number_field :product_length, 
                             class: "form-control text-right", 
                             value: 23,
                             min: 1,
                             required: true,
                             id: "quote_product_length",
                             data: { quotes_target: "length" } %>
          </div>
        </div>
      </div>
    
      <hr style="border: 1px solid black;">
      
      <%# Materials Section %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <%= form.label :material_id, "Materiales:", class: "font-weight-bold" %>
            <div class="input-group">
              <%= form.select :material_id,
                options_for_select(
                  Material.order(:description).map { |m|
                    [m.description, m.id, { 'data-price' => m.price, 'data-unit' => m.unit.description }]
                  }
                ),
                { include_blank: 'Select one' },
                { class: "form-control",
                  id: 'material-select',
                  data: { action: 'change->quotes#showAdditionalMaterialInfo' }
                }
              %>
              <div class="input-group-prepend">
                <span class="input-group-text ml-1" id="additional_material_unit_display"></span>
                <span class="input-group-text">$</span>
                <input type="number" 
                       step="any" 
                       class="form-control text-right" 
                       id="additional_material_price_display" 
                       style="width: 100px;">
              </div>
            </div>
          </div>

          <button type="button" 
                  class="btn btn-green" 
                  data-action="click->quotes#addMaterialToList">
            Agregar material
          </button>
        </div>

        <div class="col-lg-6">
          <br>
          <table data-quotes-target="materialsTable" class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>Material</th>
                <th>Piezas</th>
                <th>Material</th>
                <th>Mts2</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div>
            <strong>Subtotal materiales: </strong>
            <span data-quotes-target="materialsSubtotal" class="float-right">$0.00</span>
          </div>
        </div>
      </div>

      <br>
      <div class="col-lg-6">
        <div class="manual-material-section">
          <a href="javascript:void(0);" 
             class="text-primary text-decoration-underline mb-3" 
             style="cursor: pointer;"
             data-action="click->quotes#toggleManualMaterial prevent">
            Agregar material manual
          </a>

          <div id="manualMaterialForm" style="display: none;" class="mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-3">Material Manual</h5>
                <div class="form-group mb-3">
                  <label>Descripción del Material:</label>
                  <input type="text" id="manual_material_description" class="form-control">
                </div>
                
                <div class="form-group mb-3">
                  <label>Unidad:</label>
                  <%= select_tag "manual_material_unit", 
                                options_from_collection_for_select(Unit.all, :id, :description),
                                class: "form-control" %>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Ancho del Material (cm):</label>
                      <input type="number" 
                             id="manual_material_width" 
                             class="form-control" 
                             step="0.01" 
                             min="0">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Largo del Material (cm):</label>
                      <input type="number" 
                             id="manual_material_length" 
                             class="form-control" 
                             step="0.01" 
                             min="0">
                    </div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label>Precio:</label>
                  <input type="number" id="manual_material_price" class="form-control" step="0.01">
                </div>

                <button type="button" 
                        class="btn btn-success"
                        data-action="click->quotes#addManualMaterial">
                  Agregar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr style="border: 1px solid black;">

      <%# Processes Section %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <%= form.label :manufacturing_process_id, "Procesos:", class: "font-weight-bold" %>
            <div class="input-group">
              <%= form.select :manufacturing_process_id,
                        options_for_select(
                          ManufacturingProcess.all.map { |mp|
                            ["#{mp.name} - #{mp.description}", mp.id, { 'data-price' => mp.price, 'data-unit' => mp.unit.description }]
                          }
                        ),
                        { include_blank: 'Select one' },
                        { class: "form-control",
                          data: { action: 'change->quotes#showManufactureProcessInfo' }
                        }
              %>
              <div class="input-group-prepend">
                <span class="input-group-text ml-1" id="manufacturing_process_unit_display"></span>
                <span class="input-group-text">$</span>
                <input type="number" 
                       step="any" 
                       class="form-control text-right" 
                       id="manufacturing_process_price_display" 
                       style="width: 100px;">
              </div>
            </div>
          </div>

          <button type="button" 
                  data-action="click->quotes#addProcess" 
                  class="btn btn-green">
            Agregar Proceso
          </button>
        </div>

        <div class="col-lg-6">
          <br>
          <table data-quotes-target="processes" class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th style="width: 50%">Proceso</th>
                <th style="width: 30%">Precio</th>
                <th style="width: 20%">Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div>
            <strong>Subtotal procesos: </strong>
            <span id="processes-subtotal" class="float-right">$0.00</span>
          </div>
        </div>
      </div>

      <hr style="border: 1px solid black;">

      <%# Subtotal %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span><%= form.label :pieces, "Subtotal:", class: "font-weight-bold" %></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <div style="display: flex; justify-content: flex-end; align-items: center;">
              <%= form.text_field :subtotal, 
                                class: "form-control", 
                                style: "width: 150px; text-align: right;", 
                                id: "quote_subtotal",
                                value: "0.0",
                                readonly: true %>
            </div>
          </div>
        </div>
      </div>

      <%# Merma %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span><%= form.label :waste, "Merma:" %></span>
              <div style="display: flex; align-items: center; white-space: nowrap;">
                <input type="number" 
                       id="waste" 
                       name="quote[waste_percentage]"
                       value="<%= @waste_config&.amount %>"
                       class="form-control text-right"
                       step=any,
                       data-action="change->quotes#calculateTotals">
                <span class="ml-1">%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6"> 
          <div class="form-group">
            <div style="display: flex; justify-content: flex-end; align-items: center;"> 
              <%= form.text_field :waste_price, 
                                class: "form-control", 
                                style: "width: 150px; text-align: right;", 
                                name: "quote[waste_price]",
                                readonly: true %>
            </div>
          </div>
        </div>
      </div>

      <%# Margen %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span><%= form.label :margin, "Margen:" %></span>
              <div style="display: flex; align-items: center; white-space: nowrap;">
                <input type="number" 
                       id="margin" 
                       name="quote[margin_percentage]"
                       value="<%= @margin_config&.amount %>"
                       class="form-control text-right"
                       data-action="change->quotes#calculateTotals">
                <span class="ml-1">%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6"> 
          <div class="form-group">
            <div style="display: flex; justify-content: flex-end; align-items: center;"> 
              <%= form.text_field :margin_price, 
                                class: "form-control", 
                                style: "width: 150px; text-align: right;", 
                                name: "quote[margin_price]",
                                readonly: true %>
            </div>
          </div>
        </div>
      </div>

      <%# Total %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span><%= form.label :total_quote_value, "Precio total de la cotización:", class: "font-weight-bold" %></span>
            </div>
          </div>
          <div class="form-group">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span><%= form.label :quote_per_piece_value, "Precio por pieza:", class: "font-weight-bold" %></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <div style="display: flex; justify-content: flex-end; align-items: center;">
              <%= form.text_field :total_quote_value, 
                                class: "form-control", 
                                style: "width: 150px; text-align: right;", 
                                name: "quote[total_quote_value]",
                                id: "total-quote-value",
                                readonly: true %>
            </div>
          </div> 
          <div class="form-group">
            <div style="display: flex; justify-content: flex-end; align-items: center;">
              <%= form.text_field :product_value_per_piece, 
                    step: :any, 
                    class: "form-control", 
                    style: "width: 150px; text-align: right;", 
                    id: "quote_product_value_per_piece",
                    value: "0.0",
                    readonly: true %>
            </div>
          </div>
        </div>
      </div>
    
      <%# Calcula cotización %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <button type="button" 
                  data-action="click->quotes#calculateTotals" 
                  class="btn btn-green"> 
            Calcular cotización
          </button>
        </div>
      </div>
      
      <hr style="border: 1px solid black;">

      <%# Extras %>
      <div class="row ml-3">
        <div class="col-lg-6">
          <div class="form-group">
            <%= form.label :extra_id, "Extras:", class: "font-weight-bold" %>
            <div class="input-group">
              <%= form.select :extra_id,
                        options_for_select(
                          Extra.all.map { |e|
                            ["#{e.description}", e.id, { 'data-price' => e.price, 'data-unit' => e.unit.description }]
                          }
                        ),
                        { include_blank: 'Select one' },
                        { class: "form-control",
                          id: 'quote_extra_id',
                          'data-action': 'change->quotes#showExtraInfo'
                        }
              %>
              <div class="input-group-prepend">
                <span class="input-group-text ml-1" id="extra_unit_display"></span>
                <span class="input-group-text">$</span>
                <input type="number" 
                        step="any" 
                        class="form-control text-right" 
                        id="extra_price_display" 
                        style="width: 100px;">
                <div class="input-group-append">
                  <input type="number" 
                          step="1" 
                          value="1" 
                          min="1" 
                          class="form-control text-right" 
                          id="quantity" 
                          style="width: 70px;" 
                          placeholder="Qty">
                </div>
              </div>
            </div>
          </div>

          <button type="button"
                  data-action="click->quotes#addExtra" 
                  class="btn btn-green">
            Agregar Extra
          </button>
        </div>

        <div class="col-lg-6">
          <br>
          <table data-quotes-target="extras" class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th style="width: 50%">Extras</th>
                <th style="width: 30%">Precio</th>
                <th style="width: 20%">Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div>
            <strong>Subtotal extras: </strong>
            <span id="extras-subtotal" class="float-right" style="text-align: right; font-weight: bold;">0</span> 
          </div>
        </div>
      </div>

      <hr style="border: 1px solid black;">

      <%# Comments field %>
      <div class="row ml-3">
        <div class="col-lg-12">
          <div class="form-group">
            <%= form.label :comments, "Comentarios:", class: "font-weight-bold" %>
            <%= form.text_area :comments, class: "form-control", rows: 3 %>
          </div>
        </div>
      </div>      

      <hr style="border: 1px solid black;">
      
      <%# Guardar cotización %>
      <div class="row ml-3">
        <div class="col-lg-12">
          <%= form.submit "Guardar cotización", class: "btn btn-green float-right", 
                     data: { disable_with: "Guardando..." } %>
        </div>
      </div>

      <br><br>

      <%= content_tag :div, 
          nil, 
          data: { 
            manual_material_id: Material.find_by(description: 'Material Manual')&.id 
          },
          id: "manual-material-config" %>

    </div>
  <% end %>
</div>