<div data-controller="quotes" class="container"> 

  <h1 class="text-center col-12">C치lculo de cotizaci칩n</h1>

  <%= form_with(model: @quote, url: quotes_path, local: true, data: { turbo_frame: '_top' }) do |form| %>

    
    <%# Manejo de errores %>
    <% if @quote.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
        <ul>
          <% @quote.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <hr style="border: 1px solid black;">
    <br>
    
    <%# Datos de Proyecto %>
    <div class="row ml-3">
      <div class="col-6">
        <div class="form-group">
          <%= form.label :pieces, "Nombre del proyecto:", class: "font-weight-bold" %>
          <%= form.text_field :projects_name, step: :any, class: "form-control", value: "Nombre del proyecto" %>
        </div>

        <div class="form-group">
          <%= form.label :customer, "Cliente:", class: "font-weight-bold" %>
          <%= form.text_field :projects_name, step: :any, class: "form-control", value: "Nombre del cliente" %>
        </div>

        <div class="form-group">
          <%= form.label :pieces, "Cantidad de piezas:", class: "font-weight-bold" %>
          <%= form.number_field :pieces, step: :any, class: "form-control", value: 2000 %>
        </div>

        <div class="form-group">
          <%= form.label :width, "Ancho del producto:", class: "font-weight-bold" %>
          <%= form.number_field :width, step: :any, class: "form-control", value: 34 %>
        </div>

        <div class="form-group">
          <%= form.label :length, "Largo del producto:", class: "font-weight-bold" %>
          <%= form.number_field :length, step: :any, class: "form-control", value: 23 %>
        </div>

        <div class="form-group">
          <%= form.label :material_id, "Material principal:", class: "font-weight-bold" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input type="number" step="any" class="form-control" id="material_price_display" style="width: 100px;">
              <span class="input-group-text ml-1" id="material_unit_display"></span>
            </div>
            <%= form.select :material_id,
                      options_for_select(
                        Material.all.map { |m|
                        [m.description, m.id, { 'data-width' => m.width, 'data-length' => m.lenght, 'data-price' => m.price, 'data-unit' => m.unit.description }]
                        },
                        selected: @quote.material_id
                      ),
                      { include_blank: 'Select one' },
                      { class: "form-control",
                        'data-action': 'change->quotes#showMaterialPrice' 
            } %>
          </div>
        </div>

        <button data-action="click->quotes#calculateProducts" class="btn btn-green">
          Calcular Productos
        </button>
      </div>

      <div class="col-6">
        <br><br><br><br><br><br>
        <table class="table table-bordered"> 
          <thead class="thead-light"> 
            <tr>
              <th>Concepto</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Productos por pliego:</td>
              <td id="products-fit" style="text-align: right;"></td> 
            </tr>
            <tr>
              <td>Pliegos necesarios:</td>
              <td id="material-pieces" style="text-align: right;"></td> 
            </tr>
            <tr>
              <td>Precio material:</td>
              <td id="material-price" style="text-align: right;"></td> 
            </tr>
            <tr>
              <td>Metros cuadrados de material:</td>
              <td id="square-meters" style="text-align: right;"></td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <hr style="border: 1px solid black;">

    <%# Datos de procesos %>
    <div class="nested-fields"> 
      <div class="row ml-3">
        <div class="col-6">
          <div class="form-group">
            <%= form.label :manufacturing_process_id, "Procesos:", class: "font-weight-bold" %>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                <input type="number" step="any" class="form-control" id="manufacturing_process_price_display" style="width: 100px;">
                <span class="input-group-text ml-1" id="manufacturing_process_unit_display"></span>
              </div>
              <%= form.select :manufacturing_process_id,
                        options_for_select(
                          ManufacturingProcess.all.map { |mp|
                          ["#{mp.name} - #{mp.description}", mp.id, { 'data-price' => mp.price, 'data-unit' => mp.unit.description }]
                          },
                        ),
                        { include_blank: 'Select one' },
                        { class: "form-control",
                          'data-action': 'change->quotes#showManufactureProcessInfo'
              } %>
            </div>
          </div>

          <button data-action="quotes#addProcess" class="btn btn-green">
            Agregar Proceso
          </button> 
        </div>
                              
        <div class="col-6">
          <br>
          <table data-quotes-target="processes" class="table table-bordered"> 
            <thead class="thead-light"> 
              <tr>
                <th>Proceso</th>
                <th>Precio Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <hr style="border: 1px solid black;">

    <%# Herramentales %>
    <div class="nested-fields">
      <div class="row ml-3">
        <div class="col-6">
          <div class="form-group">
            <%= form.label :tooling_id, "Herramentales:", class: "font-weight-bold" %>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                <input type="number" step="any" class="form-control" id="tooling_price_display" style="width: 100px;">
                <span class="input-group-text ml-1" id="tooling_unit_display"></span>
                <div style="width: 5px;"></div> 
              </div>
              <%= form.select :tooling_id,
                        options_for_select(
                          Tooling.all.map { |t|
                          ["#{t.description}", t.id, { 'data-price' => t.price, 'data-unit' => t.unit.description }]
                          },
                        ),
                        { include_blank: 'Select one' },
                        { class: "form-control",
                          'data-action': 'change->quotes#showToolingInfo'
              } %>
              <div class="input-group-append">
                <%= form.fields_for :quote_toolings do |quote_tooling_form| %>
                  <div style="width: 5px;"></div> 
                  <%= quote_tooling_form.number_field :quantity, value: 1, min: 1, class: "form-control", style: "width: 70px;" %> 
                <% end %>
              </div>
            </div>
          </div>


          <button data-action="quotes#addTooling" class="btn btn-green">
            Agregar Herramental
          </button>
        </div> <%# Added closing div tag here %> 

        <div class="col-6">
          <br>
          <table data-quotes-target="toolings" class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>Herramental</th>
                <th>Precio Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr style="border: 1px solid black;">

    <%# Subtotal %>
    <div class="row ml-3">
      <div class="col-6">
        <div class="form-group">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><%= form.label :pieces, "Subtotal:", class: "font-weight-bold" %></span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <div style="display: flex; justify-content: flex-end; align-items: center;">
            <%= form.text_field :sub_total_value, step: :any, class: "form-control font-weight-bold", style: "width: 150px; text-align: right;", id: "sub-total-value" %>
          </div>
        </div>
      </div>
    </div>

    <%# Merma %>
    <div class="row ml-3">
      <% waste_config = GeneralConfiguration.find_by(description: "Merma") %>
      <div class="col-6">
        <div class="form-group">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><%= form.label :waste_percentage, "Merma:" %></span>
            <div style="display: flex; align-items: center; white-space: nowrap;">
              <span id="waste-percentage"><%= waste_config ? "#{waste_config.amount}%" : "N/A" %></span> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-6"> 
        <div class="form-group">
          <div style="display: flex; justify-content: flex-end; align-items: center;"> 
            <%= form.text_field :waste_value, step: :any, class: "form-control", style: "width: 150px; text-align: right;" %>
          </div>
        </div>
      </div>
    </div>

    <%# Margen %>
    <div class="row ml-3">
      <% margin_config = GeneralConfiguration.find_by(description: "Margen") %>
      <div class="col-6">
        <div class="form-group">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><%= form.label :margin_percentage, "Margen:" %></span>
            <div style="display: flex; align-items: center; white-space: nowrap;">
              <span id="margin-percentage"><%= margin_config ? "#{margin_config.amount}%" : "N/A" %></span> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-6"> 
        <div class="form-group">
          <div style="display: flex; justify-content: flex-end; align-items: center;"> 
            <%= form.text_field :margin_value, step: :any, class: "form-control", style: "width: 150px; text-align: right;" %>
          </div>
        </div>
      </div>
    </div>

    <%# Total %>
    <div class="row ml-3">
      <div class="col-6">
        <div class="form-group">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><%= form.label :final_quote_value, "Precio total de la cotizaci칩n:", class: "font-weight-bold" %></span>
          </div>
        </div>
        <div class="form-group">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><%= form.label :quote_per_piece_value, "Precio por pieza:", class: "font-weight-bold" %></span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <div style="display: flex; justify-content: flex-end; align-items: center;">
            <%= form.text_field :total_value, step: :any, class: "form-control font-weight-bold", style: "width: 150px; text-align: right;", id: "total-value" %>
          </div>
        </div> 
        <div class="form-group">
          <div style="display: flex; justify-content: flex-end; align-items: center;">
            <%= form.text_field :value_per_piece, step: :any, class: "form-control font-weight-bold", style: "width: 150px; text-align: right;", id: "value-per-piece" %>
          </div>
        </div>
      </div>
    </div>
    
    <%# Calcula total %>
    <div class="row ml-3">
      <div class="col-6">
        <button data-action="click->quotes#calculateQuote" class="btn btn-green"> 
          Calcular cotizaci칩n
        </button>
      </div>
    </div>
  
    <hr style="border: 1px solid black;">

    <div class="row ml-3">
      <div class="col-6"> 
        <%= form.label :customer_name, "Buscar Cliente en Pipedrive:", class: "font-weight-bold" %>
        <%= form.text_field :customer_name, class: "form-control", 
              data: { action: "input->quotes#clearCustomerInfo" } %>  
      </div>
      <div class="col-6">
        <%= form.submit "Search Pipedrive", class: "btn btn-green", 
              data: { disable_with: "Buscando...", action: "click->quotes#searchCustomer" } %> 
      </div>
    </div>

    <div id="customer_info"></div>
    
  <% end %>
</div>