<div data-controller="quotes">

  <h1 class="text-center col-8">Cálculo de cotización</h1>
  <hr>

  <%= form_with(model: @quote, url: quotes_path, local: true) do |form| %>
    <% if @quote.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
        <ul>
          <% @quote.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row ml-3">
      <div class="col-4">
        <div class="form-group">
          <%= form.label :pieces, "Cantidad de piezas:" %>
          <%= form.number_field :pieces, step: :any, class: "form-control", value: 2000 %>
        </div>

        <div class="form-group">
          <%= form.label :width, "Ancho del producto:" %>
          <%= form.number_field :width, step: :any, class: "form-control", value: 34 %>
        </div>

        <div class="form-group">
          <%= form.label :length, "Largo del producto:" %>
          <%= form.number_field :length, step: :any, class: "form-control", value: 23 %>
        </div>

        <div class="form-group">
          <%= form.label :material_id, "Material principal:" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="material_price_display">$0.00</span>
              <span class="input-group-text ml-1" id="material_unit_display"></span>
            </div>
            <%= form.select :material_id,
                      options_for_select(
                        Material.all.map { |m|
                        [m.description, m.id, { 'data-width' => m.width, 'data-length' => m.lenght, 'data-price' => m.price, 'data-unit' => m.unit.description }]
                        },
                        selected: @quote.material_id
                      ),
                      { include_blank: 'Select one' },
                      { class: "form-control",
                        'data-action': 'change->quotes#showMaterialPrice' 
            } %>
          </div>
        </div>

        <button data-action="quotes#calculateProducts" class="btn btn-green">
          Calcular Productos
        </button>
      </div>

      <div class="col-4">
        <table class="table table-bordered"> 
          <thead class="thead-light"> 
            <tr>
              <th>Concepto</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Productos por pliego:</td>
              <td id="products-fit" style="text-align: right;"></td> 
            </tr>
            <tr>
              <td>Pliegos necesarios:</td>
              <td id="material-pieces" style="text-align: right;"></td> 
            </tr>
            <tr>
              <td>Precio material:</td>
              <td id="material-price" style="text-align: right;"></td> 
            </tr>
            <tr>
              <td>Metros cuadrados de material:</td>
              <td id="square-meters" style="text-align: right;"></td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>

    <h2 class="ml-3">Agregar procesos</h2>
    
    <div class="nested-fields"> 
      <div class="row ml-3">
        <div class="col-4">
          <div class="form-group">
            <%= form.label :manufacturing_process_id, "Procesos:" %>
            <div class="input-group"> 
              <div class="input-group-prepend">
                <span class="input-group-text" id="manufacturing_process_price_display">$0.00</span>
                <span class="input-group-text ml-1" id="manufacturing_process_unit_display"></span>
              </div>
              <%= form.select :manufacturing_process_id,
                        options_for_select(
                          ManufacturingProcess.all.map { |mp|
                          ["#{mp.name} - #{mp.description}", mp.id, { 'data-price' => mp.price, 'data-unit' => mp.unit.description }]
                          },
                          selected: @quote.manufacturing_process_id
                        ),
                        { include_blank: 'Select one' },
                        { class: "form-control",
                          'data-action': 'change->quotes#showManufactureProcessInfo' 
              } %>
            </div>
          </div>

          <button data-action="quotes#addProcess" class="btn btn-green">
            Agregar Proceso
          </button> 
        </div>

        <div class="col-4">
          <table data-quotes-target="processes" class="table table-bordered"> 
            <thead class="thead-light"> 
              <tr>
                <th>Proceso</th>
                <th>Precio Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
    <hr>

    <div class="row ml-3">
      <div class="col-4">
        <button data-action="quotes#calculateQuote" class="btn btn-green">
          Calcular cotización
        </button> 
      </div>
      <div class="col-4">
        <div class="form-group">
          <%= form.label :final_quote_value, "Precio total de la cotización:" %>
          <div id="final-quote-value" style="text-align: right;"></div> 
        </div>
      </div>
    </div>
    <hr>

    <h2 class="ml-3">Herramentales</h2>
    <div id="toolings" data-quotes-target="toolings">
      <ul></ul>
      <%= form.fields_for :quote_toolings do |quote_tooling_form| %>
        <%= render 'quote_tooling_fields', f: quote_tooling_form %>
      <% end %>
    </div>
    <div class="row ml-3">
      <div class="col-4">
        <button data-action="quotes#addTooling" class="btn btn-green">
          Agregar Herramental
        </button>
      </div>
      <div class="col-6">
        </div>
    </div>

    <div class="row ml-3">
      <div class="col-6">
        <%= form.submit "Crear Cotización", class: "btn btn-green" %>
      </div>
      <div class="col-6">
        </div>
    </div>

  <% end %>
</div>