<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0 mb-0">
        <div class="card-header bg-transparent text-center pt-4">
          <%= image_tag "cotalo.jpg", class: "img-fluid", style: "max-width: 200px;" %>
        
          <hr class="mt-4">
          <h3 class="text-center mb-2">Crear nueva cuenta</h3>
          <div class="text-center text-muted mb-4">
            <small>Completa el formulario para registrarte</small>
          </div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                  class: "form-control", placeholder: "Email" %>
            </div>

            <div class="form-group mb-3">
              <%= f.password_field :password, autocomplete: "new-password", 
                  class: "form-control", placeholder: "Contraseña" %>
              <% if @minimum_password_length %>
                <small class="text-muted">(<%= @minimum_password_length %> caracteres mínimo)</small>
              <% end %>
            </div>

            <div class="form-group mb-3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                  class: "form-control", placeholder: "Confirma tu contraseña" %>
            </div>

            <div class="text-center">
              <%= f.submit "Crear cuenta", class: "btn btn-green my-4" %>
            </div>
          <% end %>

          <div class="text-center mt-3 mb-4">
            <small>
              ¿Ya tienes una cuenta? 
              <%= link_to "Inicia sesión aquí", new_session_path(resource_name), class: "text-primary" %>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
