<div class="container mt-4"> 
  <h1 class="text-center mb-4"><%= general_configuration.new_record? ? 'Nueva Configuración' : 'Editar Configuración' %></h1> 

  <div class="row">
    <div class="col-md-6 offset-md-3"> 
      <%= form_with(model: general_configuration) do |form| %>
        <% if general_configuration.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(general_configuration.errors.count, "error") %> prohibited this configuration from being saved:</h2>

            <ul>
              <% general_configuration.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :description, "Descripción:", style: "display: block" %> 
          <%= form.text_field :description, class: "form-control" %> 
        </div>

        <div class="form-group">
          <%= form.label :amount, "Cantidad:", style: "display: block" %>
          <%= form.number_field :amount, step: :any, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :unit_id, "Unidad de medida:", style: "display: block" %> 
          <%= form.collection_select :unit_id, Unit.all, :id, :description, {}, class: "form-control" %> 
        </div>

        <div class="text-center mt-3"> 
          <%= form.submit "Guardar configuración", class: "btn btn-green" %> 
          <%= link_to 'Volver a la página principal', root_path, class: 'btn btn-green' %>
        </div>
      <% end %>
    </div>
  </div>
</div>