<div style="display: flex; justify-content: center;"> 
  <h2>Cotizaciones recientes</h2> 
</div>

<br>
<table class="table table-striped"> 
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre de cliente</th>
      <th>Cantidad</th>
      <th>Impuestos</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>October 22, 2024</td>
      <td>John Doe</td>
      <td>$100</td>
      <td>$10</td>
      <td>$110</td>
      <td><%= button_to "Enviar cotización", send_quote_path(1), method: :post, class: "btn btn-sm btn-green" %></td>
    </tr>
    <tr>
      <td>October 21, 2024</td>
      <td>Jane Smith</td>
      <td>$200</td>
      <td>$20</td>
      <td>$220</td>
      <td><%= button_to "Enviar cotización", send_quote_path(1), method: :post, class: "btn btn-sm btn btn-green" %></td>
    </tr>
    <tr>
      <td>October 21, 2024</td>
      <td>Jane Smith</td>
      <td>$200</td>
      <td>$20</td>
      <td>$220</td>
      <td><%= button_to "Enviar cotización", send_quote_path(1), method: :post, class: "btn btn-sm btn-green" %></td>
    </tr>
    <tr>
      <td>October 21, 2024</td>
      <td>Jane Smith</td>
      <td>$200</td>
      <td>$20</td>
      <td>$220</td>
      <td><%= button_to "Enviar cotización", send_quote_path(1), method: :post, class: "btn btn-sm btn-green" %></td>
    </tr>
    <tr>
      <td>October 21, 2024</td>
      <td>Jane Smith</td>
      <td>$200</td>
      <td>$20</td>
      <td>$220</td>
      <td><%= button_to "Enviar cotización", send_quote_path(1), method: :post, class: "btn btn-sm btn-green" %></td> <%# Add button %>
    </tr>
  </tbody>
</table>