<div id="<%= dom_id material %>">
  <p>
    <strong>Description:</strong>
    <%= material.description %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= material.width %>
  </p>

  <p>
    <strong>Lenght:</strong>
    <%= material.lenght %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= material.price %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= material.comments %>
  </p>

</div>
