<div id="<%= dom_id material %>">
  <p>
    <strong>Description:</strong>
    <%= material.description %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= material.weight %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= material.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= material.height %>
  </p>

  <p>
    <strong>Lenght:</strong>
    <%= material.lenght %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= material.comments %>
  </p>

</div>
