<turbo-frame id="main-content">
  <div class="container mt-4">
    <h1 class="text-center mb-4">Extras</h1>
    <br>
    
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-bordered">
          <thead style="background-color: #76a835; color: white"> 
            <tr>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Unidad</th>
              <th>Comentarios</th>
              <th style="width: 80px;" class="text-center">Ver</th>
              <th style="width: 80px;" class="text-center">Editar</th>
              <th style="width: 80px;" class="text-center">Copiar</th>
              <th style="width: 80px;" class="text-center">Eliminar</th>
            </tr>
          </thead>

          <tbody>
            <% @extras.each do |extra| %> 
              <tr>
                <td><%= extra.description %></td>
                <td><%= extra.price %></td>
                <td><%= extra.unit.description %></td> 
                <td><%= extra.comments %></td>
                <td class="text-center">
                  <%= link_to 'Ver', extra, class: 'btn btn-sm btn-outline-success' %>
                </td>
                <td class="text-center">
                  <%= link_to 'Editar', edit_extra_path(extra), class: 'btn btn-sm btn-outline-primary' %>
                </td>
                <td class="text-center">
                  <%= button_to 'Copiar',
                      copy_extra_path(extra),
                      method: :post,
                      class: 'btn btn-sm btn-outline-info',
                      form: { data: { turbo_frame: '_top' } } %>
                </td>
                <td class="text-center">
                  <%= button_to 'Eliminar', 
                      extra_path(extra), 
                      method: :delete, 
                      class: 'btn btn-sm btn-outline-danger',
                      form: { 
                        data: { 
                          turbo_frame: '_top',
                          turbo_confirm: '¿Estás seguro?' 
                        } 
                      } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="text-center mt-3">
          <%= link_to 'Nuevo extra', new_extra_path, class: 'btn btn-green' %>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>